body{
    background-color: rgb(246,204,162);
  }

span{
    margin-top: -20%;
    margin-right: 10%;
}
  

  h1{
    float:left;
    margin-left: 10%;
    margin-top: 7%;
  }
  
  h3, h2{
    color: rgb(212,117,82);
    text-align: center;
    font-size:x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .indexheading{
    background-image: url("https://i.pinimg.com/originals/aa/77/d6/aa77d6ddb02650ee44a5ea8050c7edf5.jpg");
    width:100%;
    height:650px;
    background-size: cover;
    background-position: 0 23%;
    box-shadow: 0px -50px 20px -20px rgb(246,204,162)  inset;
  
  }
  
  .content-container{
    width:80%;
    margin-left: 10%;
  }
  
  .circle{
    background-color: #6dbd43;
    margin-left: 42%;
  }
  
  .line-1{
    width:3px;
    height:100px;
    background-color:black;
    margin-left: 49%;
  }
  
  
  img{
    width: 150px;
    height:150px;
    object-fit:cover;
    overflow: hidden;
    border-radius: 80px;
  }


  
  .timeline-title{
    background-color: rgb(20,6,5);
    text-align: center;
    border-style:groove;
    border-color: rgb(212,117,82);
    margin-left:20%;
    width:60%;
    padding-bottom: 22px;
    padding-top: 1px;
    border-radius: 5px;
  }
  
    
    
  