h3{
  color: #6dbd43;
}

h2{
  font-size: 30px;
  text-align: center; 
}

.events-wrapper{
  padding-left: 20%;
}



.image{
  padding-left: 60px;
  padding-bottom: 100px;
}

.album-text{
  vertical-align: middle;
}

.content-container {
  margin: auto;
  height: 100%;
  width: 80%;
  background-color: blueviolet;
}

  
  
